body {
    --canvas-size: 720px;
}
.light {
    --bg-color: #e0e0e0;
    --main-color: #0088ff;
    --main-color-active: #0066dd;
    --fragment-color: #000000;
    --bg2-color: #d0d0d0;
    --bg3-color: #a0a0a0;
    --bg3-color-active: #b0b0b0;
    --color: #000000;
    --color-active: #ffffff;
}
.dark {
    --bg-color: #202020;
    --main-color: #dd6600;
    --main-color-active: #bb4400;
    --fragment-color: #cccccc;
    --bg2-color: #404040;
    --bg3-color: #606060;
    --bg3-color-active: #505050;
    --color: #ffffff;
    --color-active: #000000;
}

.theme-change {
    transition: all 0.3s ease-in-out;
}
.theme-change * {
    transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    margin: 5px;
}

.app {
    display: flex;
    flex-direction: column;
}

.canvas-and-shader {
    position: relative;
    display: flex;
}

.canvas {
    flex: 1;
    padding: 5px;
    max-height: var(--canvas-size);
}

.shader {
    flex: 100;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.update {
    flex: 1;
    margin: 5px;
}

.source {
    flex: 10;
    width: calc(100% - 10px);
    padding: 10px 5px 5px 15px;
    margin: 5px;
    box-sizing: border-box;
    border: var(--bg3-color) 3px solid;
    border-radius: 10px;
    background-color: var(--bg2-color);
}

.source:focus-within {
    border: var(--main-color-active) 3px solid;
}

.fragment-input {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', 'Consolas';
    font-size: 16px;
    border: none;
    background-color: var(--bg2-color);
    color: var(--fragment-color);
    cursor: auto;
    white-space: nowrap;
    overflow: auto;
}
.fragment-input::-webkit-scrollbar {
    position: absolute;
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-track {
    border: solid 5px transparent;
    -webkit-box-shadow: inset 1px -0px 6px #00000030;
    border-radius: 100px;
    background-color: var(--bg2-color);
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb {
    border: solid 5px transparent;
    background-clip: content-box;
    border-radius: 100px;
    background-color: var(--bg3-color);
}
::-webkit-scrollbar-corner {
    background: #00000000;
}

.fragment-input:focus {
    outline: none;
}
.fragment-input:focus::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.fragment-input::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-active);
}

.update button {
    width: 100%;
    height: 100%;
    border: none;
    color: var(--color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    /*box-shadow: 0px 0px 10px 2px #0088ff88;*/
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', 'Consolas';
}

.update button:hover {
    background-color: var(--main-color-active);
    /*box-shadow: 0px 0px 10px 2px #0066dd88;*/
    color: var(--color-active);
}

.textures {
    display: flex;
    flex-direction: row;
}

canvas {
    border-radius: 10px;
    box-sizing: border-box;
}
canvas:hover {
    /*box-shadow: 0px 0px 5px 2px #ffffff55;*/
}

.image-selector {
    width: 300px;
    height: auto;
}

.image-settings {
    display: grid;
    grid-template-columns: 65% 35%;
    border-radius: 0 0 15px 15px;
}

.image-selector-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.new-texture {
    width: 100px;
    height: 100px;
    background: var(--main-color);
    border-radius: 50%;
    color: var(--color);
    font-weight: 900;
    position: relative;
    cursor: pointer;
    margin: 15px;
    transition: all 0.2s ease-in-out;
    transform: scale(1);
}

.new-texture:hover {
    background: var(--main-color-active);
    transform: scale(1.05);
}

.image-selector {
    margin: 5px;
    text-align: center;
    background-color: var(--bg2-color);
    border-radius: 15px;
    border: 2px solid var(--main-color);
}
.image-selector:focus-within {
    border: 2px solid var(--main-color-active);
}

.new-texture::after {
    content: "";
    width: 50px;
    height: 10px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-texture::before {
    content: "";
    width: 10px;
    height: 50px;
    border-radius: 30px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-preview {
    width: auto;
    height: auto;
    max-height: 180px;
    min-height: 180px;
    max-width: 300px;
    min-width: 300px;
}

.image-preview img {
    width: auto;
    height: auto;
    max-height: 170px;
    max-width: 290px;
    padding: 5px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
}

.image-preview img:hover {
    filter: brightness(0.75);
}

.name-image-input {
    margin: 4px 2px 7px 5px;
    padding: 5px;
    border-radius: 7px;
    background: var(--bg3-color);
    font-weight: 700;
    font-family: sans-serif;
    color: var(--color);
    border: none;
}
.name-image-input:hover {
    outline: none;
    background: var(--bg3-color-active);
    cursor: default;
}
.name-image-input:focus {
    outline: none;
    background: var(--bg3-color-active);
    color: var(--color-active);
}

.delete-image-button {
    margin: 4px 7px 5px 2px;
    padding: 5px;
    border-radius: 7px;
    background: var(--bg3-color);
    font-weight: 700;
    font-family: sans-serif;
    color: var(--color);
    border: none;
    height: fit-content;
}
.delete-image-button:hover {
    background: var(--bg3-color-active);
    color: var(--color-active);
}

.error-detail {
    position: absolute;
    margin: 5px;
    background-color: #00000060;
    color: #dddddd;
    font-size: 22px;
    width: var(--canvas-size);
    height: var(--canvas-size);
    border: 0px;
    border-radius: 9px;
}

.error-detail textarea {
    user-select: none;
    margin: 15px;
    color: #dddddd;
    background-color: #00000000;
    font-size: 22px;
    width: calc(var(--canvas-size) - 30px);
    height: calc(var(--canvas-size) - 30px);
    border: 0px;
    resize: none;
    font-family: 'Roboto Mono', 'Consolas';
}

.theme {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--bg2-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
    padding: 7px;
    border: 2px solid var(--bg3-color);
    border-radius: 20px;
    box-sizing: border-box;
}

.current-theme {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
    border: 2px solid var(--bg3-color);
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
}
